@if (loading()) {
  <app-spinner-ui size="3rem" />
} @else {
  <div class="customer-page">

    <div class="header">
      <div>
        <h2>Πληροφορίες Πελάτη</h2>
        <span class="subtitle">
          Στοιχεία πελάτη και βασικές πληροφορίες
        </span>
      </div>

      <div class="actions">
        <app-edit-button
          (edit)="edit()"
        />

        <app-delete-button
          (delete)="delete()"
        />
      </div>
    </div>


    <div class="info-card">

      <div class="section-title">
        <i class="pi pi-user"></i>
        <span>Γενικά στοιχεία</span>
      </div>

      <div class="details-grid">
        @for (field of customerFields; track field.key) {
          <div class="field">
            <label [for]="field.key">{{ field.label }}</label>
            <div class="value">
              {{ getFieldValue(field.key) || '-' }}
            </div>
          </div>
        }
      </div>

    </div>

  </div>
  <p-dialog
    header="Επεξεργασία Πελάτη"
    [(visible)]="updateDialogVisible"
    [modal]="true"
    [style]="{ width: '60rem' }"
    [closable]="true">

    <app-customer-form
      [customer]="customer"
      [mode]="'update'"
      (closed)="customerUpdated()">
    </app-customer-form>

  </p-dialog>

  <p-dialog
    header="Διαγραφή Πελάτη"
    [(visible)]="deleteDialogVisible"
    [modal]="true"
    [style]="{ width: '60rem' }"
    [closable]="true">
    <div class="delete-dialog">
      <i class="pi pi-exclamation-triangle warning-icon"></i>

      <h3>Επιβεβαίωση διαγραφής</h3>

      <p>
        Είστε βέβαιοι ότι θέλετε να διαγράψετε τον πελάτη
        <strong>{{ customer?.firstname }} {{customer?.lastname}}</strong>;
      </p>

      <p class="warning-text">
        Η ενέργεια αυτή δεν μπορεί να αναιρεθεί.
      </p>

      <div class="dialog-actions">
        <app-cancel-button (cancelAction)="deleteDialogVisible.set(false)"/>
        <app-delete-button (delete)="confirmDelete()"/>
      </div>
    </div>
  </p-dialog>
}
