.layout {
  display: flex;
  height: 100vh;

  &.collapsed {
    .sidebar {
      width: 50px;

      h2,
      .label {
        display: none;
      }

      .sidebar a {
        justify-content: center;
      }
      .submenu a {
        justify-content: start;
        padding: 14px;
      }

    }
  }
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #1f2937;
  color: white;
  display: flex;
  flex-direction: column;
  transition: width .25s ease;
  overflow: visible;


  .header-aside {
    display: flex;
    justify-content: center;
  }

  a {
    color: white;
    padding: 14px 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    justify-content: start;
  }


  a:hover {
    background: #374151;
    cursor: pointer;
  }

  a.active {
    background: #1e3a8a;
    border-left: 3px solid #3b82f6;
    color: white;
    font-weight: 500;
  }
}


/* COLLAPSE BUTTON */
.sidebar-toggle {
  margin: 10px;
  width: 50px;
  height: 35px;
  border: none;
  border-radius: 6px;
  background: #374151;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;


  &:hover {
    background: #4b5563;
  }
}


/* CONTENT */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.toolbar {
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

main {
  flex: 1;
  min-width: 0;
  overflow-x: auto;
}

/* MENU */
.menu-item {
  position: relative;
  display: flex;
  flex-direction: column;
}


/* SUBMENU FLYOUT */
.submenu {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 100%;
  top: 0;
  width: 180px;
  background: #111827;
  border-radius: 6px;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0,0,0,.25);
}

.menu-item:hover .submenu {
  display: flex;
}

.submenu a {
  padding: 12px 16px;
  font-size: 12px;
  color: #9ca3af;
}

.submenu a:hover {
  background: #374151;
  color: white;
}

/* TABS */
.tabs {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid #ddd;
  margin-top: 2px;
  margin-left: 2px;
}

.tabs div {
  padding: 8px 12px;
  cursor: pointer;
  background: #f3f4f6;
  border-radius: 6px 6px 0 0;
}

.tabs div.active {
  background: white;
  border: 1px solid #ddd;
  border-bottom: none;
}

/* CLOSE TAB */
.tabs span {
  margin-left: 8px;
  color: red;
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
  transition: background .2s ease;

  &:hover {
    background: #374151;
  }
}
